@font-face{
    font-family: base_font;
    src: url("..\\CuteBubble.otf");
}
@keyframes dot1Expand{
    0% {height: 100px; width: 100px; left: 100%; background-color: rgb(255, 201, 250);};
    25%{left: -300%;}
    25%{height: 100px; width: 100px}
    100%{height: 1000%; width: 1000%}
}
@keyframes dot2Expand{
    0% {height: 100px; width: 100px; top: 0%; background-color: rgb(144, 199, 255);};
    25%{top: 300%;}
    25%{height: 100px; width: 100px}
    100%{height: 1000%; width: 1000%}
}
@keyframes dot3Expand{
    0% {height: 0%; width: 0%; left:0%; background-color: rgb(131, 255, 189);};
    25%{left: 300%;}
    25%{height: 100px; width: 100px}
    100%{height: 1000%; width: 1000%}
}

@keyframes titleFadeIn {
    0% {margin-top: -100%; opacity:0;}
    100% {margin-top: 0%; opacity:1;}
}
@keyframes title2FadeIn {
    0% {margin-top: -100%; opacity:0;}
    100% {margin-top: -5%; opacity:1;}
}
@keyframes corner1FadeIn{
    0% {top: -100%; left: -100%; opacity:0;}
    100% {top: -5%; left: -5%; opacity:1;}
}
@keyframes corner2FadeIn{
    0% {bottom: -100%; right: -100%; opacity:0;}
    100% {bottom: -5%; right: -5%; opacity:1;}
}

@keyframes leanFadeIn{
    0% {margin-left: -100%; opacity:0;}
    100% {margin-left: 0%; opacity:1;}
}
@keyframes starsFadeIn{
    0% {margin-left: 200%; opacity:0;}
    100% {margin-left: 75%; opacity:1;}
}
@keyframes circlesFadeIn{
    0% {margin-left: -100%; opacity:0;}
    100% {margin-left: 0%; opacity:1; transform: rotate(-20deg);}
}
@keyframes sunFadeIn{
    0% {margin-left: -100%; opacity:0;}
    100% {margin-left: 2%; opacity:1; transform: rotate(-20deg);}
}

@keyframes button1FadeIn{
    0% {bottom: -100%; opacity:0;}
    100% {bottom: 5%; opacity:1;}
}
@keyframes button2FadeIn{
    0% {bottom: -100%; opacity:0;}
    100% {bottom: 5%; opacity:1;}
}
@keyframes button3FadeIn{
    0% {bottom: -100%; opacity:0;}
    100% {bottom: 5%; opacity:1;}
}

#dot1 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 201, 250);
    opacity: 0;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    left: -300%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#dot2 {
    height: 100px;
    width: 100px;
    background-color: rgb(144, 199, 255);
    opacity: 0;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    left: 50%;
    top: 300%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#dot3 {
    height: 100px;
    width: 100px;
    background-color: rgb(131, 255, 189);
    opacity: 0;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    left: 300%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 60%;
    max-width: 60%;
    max-height: auto;
    opacity: 0;

    animation-name: titleFadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#title2{
    display: block;
    margin-left: 70%;
    margin-top: -5%;
    width: 20%;
    max-width: 20%;
    max-height: auto;
    opacity: 0;

    animation-name: title2FadeIn;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

#madeBy{
    position: fixed;
    font-family: base_font;
    left: 1%;
    top: 95%;
    color: rgb(255, 255, 255)
}

#lean{
    display: block;
    margin-top: -25%;
    margin-left: 0%;
    max-width: 40%;
    max-height: auto;
    opacity: 0;

    animation-name: leanFadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
#stars{
    position:fixed;
    display: block;
    margin-top: -30%;
    margin-left: 75%;
    max-width: 20%;
    max-height: auto;
    opacity: 0;

    animation-name: starsFadeIn;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

#corner{
    position:fixed;
    display: block;
    top: -5%;
    left: -5%;
    max-width: 25%;
    max-height: auto;

    opacity: 0;
    animation-name: corner1FadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#corner2{
    position:fixed;
    display: block;
    bottom: -5%;
    right: -5%;
    max-width: 25%;
    max-height: auto;

    opacity: 0;
    animation-name: corner2FadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

body{
    background-color: rgb(255, 119, 119);
    background-image: url("images\\homepageBG.png");
    background-size: contain;
    background-repeat: repeat;

    overflow-x: hidden;
}

button{
    height: 125px;
    width: 250px;
    font-family: base_font;
    color:rgb(255, 219, 225);
    font-size: 28px;
    background-color:  rgba(255, 255, 255, 0);
    border-style: none;
    z-index: 2;
}
button:hover {
    height: 125px;
    width: 250px;
    font-family: base_font;
    color:rgb(255, 255, 255);
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    z-index: 2;
}

#aboutMe{
    position: fixed;
    left: 25%;
    bottom: -100%;
    transform: translate(-50%, 0%);
    background-image: url("images\\AboutMe.png");
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: button1FadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#aboutMe:hover {
    background-image: url("images\\AboutMe2.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#statsButton{
    position: fixed;
    left: 50%;
    bottom: -100%;
    transform: translate(-50%, 0%);
    background-image: url("images\\Stats.png");
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: button2FadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
#statsButton:hover {
    background-image: url("images\\Stats2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#dailyLife{
    position: fixed;
    left: 75%;
    bottom: -100%;
    transform: translate(-50%, 0%);
    background-image: url("images\\MyStories.png");
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: button3FadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#dailyLife:hover {
    background-image: url("images\\MyStories2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 0px;
}
